<!DOCTYPE html>
<html>
<head>
    <title>Navbar Example with Nested Dropdowns</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .show {
            display: block !important;
        }
        .dropdown-menu-left {
            left: 0 !important;
            right: auto !important;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav"> <!-- Updated class -->
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Counters
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="#">Service 1</a>
                    <a class="dropdown-item" href="#">Service 2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2_1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2_1">
                        <a class="dropdown-item" href="#">Service 3</a>
                        <a class="dropdown-item" href="#">Service 4</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Register/SignUp
                </a>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1_1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Counters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1_1">
                        <a class="dropdown-item" href="#">Counter Register</a>
                        <a class="dropdown-item" href="#">Counter SignUp</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1_1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hotels
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1_1">
                        <a class="dropdown-item" href="#">Hotel Register</a>
                        <a class="dropdown-item" href="#">Hotel SignUp</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
            }
            var $subMenu = $(this).next('.dropdown-menu');
            $subMenu.toggleClass('show');
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function () {
                $('.dropdown-submenu .show').removeClass('show');
            });
            return false;
        });
    });
</script>

</body>
</html>
