<!DOCTYPE html>
<html>
<head>
    <title>Counter Details Form</title>
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update Hotel </h1>
				<div class = "card-body">
					<form th:action="@{/hotels/edited/{id}(id=${hotel.id})}" th:object = "${hotel}" method="POST">
						<div class ="form-group">
							<label> Hotel Name </label>
							<input
							type = "text"
							name = "hotelName"
							th:field="*{hotelName}"
							class = "form-control"
							placeholder="Enter Hotel Name" 
							required
							/>
						</div>
						
						<div class ="form-group">
							<label> First Name </label>
							<input
							type = "text"
							name = "userFirstName"
							th:field="*{userFirstName}"
							class = "form-control"
							placeholder="Enter First Name" 
							required
							/>
						</div>
						
						<div class ="form-group">
							<label> Last Name </label>
							<input
							type = "text"
							name = "userLastName"
							th:field="*{userLastName}"
							class = "form-control"
							placeholder="Enter Last Name" 
							required
							/>
						</div>
						
						<div class ="form-group">
							<label> Email </label>
							<input
							type = "email"
							name = "email"
							th:field="*{email}"
							class = "form-control"
							placeholder="Enter Email" 
							required
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
    
</body>
</html>
