<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
  <style>
    .navbar-nav .nav-link {
        margin-right: 15px; /* Adjust the value as needed */
    }
</style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Your Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/{hotelname}/counters(hotelname=${hotelName})}">Counters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/{hotelname}/menu/starters(hotelname=${hotelName})}">Starters <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/{hotelname}/menu/maincourses(hotelname=${hotelName})}">Main Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/{hotelname}/menu/desserts(hotelname=${hotelName})}">Desserts</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" th:href="@{/{hotelname}/menu/billsummary(hotelname=${hotelName})}">Bill Summary</a>
            </li>-->
        </ul>
    </div>
</nav>

  
<div class="container mt-5">
	<div class="text-center col-lg-12">
		<h2>Starters</h2>
	</div>
    
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
		<tr th:each="starter:${starters}">
            <td th:text="${starter.starterName}"></td>
            <td th:text="${starter.starterPrice}"></td>
            <td>
                <button><a th:href="@{/{hotelname}/menu/starters/edit/{id}(hotelname=${hotelName},id=${starter.id})}" >Update</a></button>
                <button><a th:href="@{/{hotelname}/menu/starters/delete/{id}(hotelname=${hotelName},id=${starter.id})}" >Delete</a></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
